@import "bootstrap-sprockets";
@import "bootstrap";

// mixins, variables, etc.

@mixin box_sizing {
  -webkit-moz-box-sizin: border-box;
  -moz-moz-box-sizin: border-box;
  -ms-moz-box-sizin: border-box;
  -o-moz-box-sizin: border-box;
  moz-box-sizin: border-box;
}

// universal

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.center-text {
  text-align: center;
}

// miscellaneous

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// forms

input, textarea, label, .uneditable-input {
  // width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

select {
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.left {
  width: 48%;
  float: left;
  clear: left;
}

.right {
  width: 48%;
  float: right;
  clear: right;
}

.zip {
  width: 15%;
  margin: auto;
  float: left;
  clear: both;
}

.city {
  width: 81%;
  float: right;
}

.button {
  width: 35%;
  margin: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
